// global
@import "./asset/sass/global/normalize";
@import "./asset/sass/global/variables";

$exhibitBackground: $white;
$exhibitHeading: $buckskin;
$exhibitText: $smokeyx;

// layout
@import "layout/body";
@import "layout/navigation";
