.exhibit {
  font-family: $sans;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 1000px;

  > header {
    .exhibit-title {
      text-align: center;
      padding: $golden-ratio-4 0 $golden-ratio-5;
      text-shadow: 5px 5px 8px rgba($white, 0.25);

      h2 {
        font-size: $type-5;
        font-weight: 700;
        margin-bottom: 0.35em;
        letter-spacing: -.047em;
      }

      span.exhibit-summary {
        display: block;
        font-size: $type-2;
        text-transform: uppercase;
        letter-spacing: .047em;
      }
    }

    .exhibit-navbar {
      background-color: rgba($white, 0.92);
      height: $golden-ratio-4;
      max-height: $golden-ratio-4;
      box-shadow: $box-shadow;

      .exhibit-domain {
        height: $golden-ratio-4;
        color: $smokey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: $golden-ratio-2;
        font-size: $type-2;
        padding-top: 2px;
      }

      &--inner {
        display: flex;
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          margin: 0;
          padding: 0 14.5px;
          list-style: none;
          font-size: $type-2;

          &:first-child {
            padding-left: 0;
          }

          &.active {
            font-weight: 700;
          }

          a,
          a:visited {
            color: $white;
            display: block;
            height: 47px;
            justify-content: center;
            align-self: center;
            align-items: center;
          }

          a:hover,
          a:focus {
            color: $white;
          }
        }
      }
    }

    .exhibit-toggle {
      color: $gray-1;
      display: flex;
      font-size: $type-3 !important;
      height: 33px;
      margin-top: 7px;
      background-color: transparent;
      border: 1px solid $gray-1;
      transition: $transition-all-fast;
      box-shadow: none;
      position: relative;
      background-color: $white;

      &::after {
        position: absolute;
        z-index: 0;
        width: 10px;
        height: 10px;
        border-radius: 3px;
        content: '';
        display: block;
        right: $golden-ratio-1;
        top: calc(50% - 3px);
        content: "\E805";
        color: $rock;
        font-family: fontello;
        font-style: normal;
        speak: none;
        text-decoration: inherit;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        margin-left: 6px;
        font-size: 11px;
        display: inline-flex;
        align-content: center;
        align-items: center;
        margin-top: -2px;
        text-decoration: none !important;
      }

      &:hover {
        border-color: $gray-2;
        box-shadow: $box-shadow;

        &::after {
          color: $globe;
        }
      }

      label {
        font-size: $type-0;
        display: flex;
        height: 47px;
        justify-content: center;
        align-self: center;
        align-items: center;
        margin-right: $golden-ratio-1;
      }

      select,
      option {
        padding: 0;
        height: 33px;
        line-height: 33px;
        font-size: $type-2;
        background: transparent;
        border: none;
        color: $smokeyx;
        -webkit-font-smoothing: antialiased;
        font-family: $sans;
        font-weight: 400;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
        appearance: none;       /* Remove default arrow */
      }

      select {
        padding-left: $golden-ratio-0 !important;
        padding-right: $golden-ratio-3 !important;
        z-index: 1;
      }
    }
  }
}