.exhibit-navigation {
  margin-bottom: $golden-ratio-4;
  border-right: none;
  width: auto;
  display: flex;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-shrink: 1;
    width: auto;
    box-shadow: $box-shadow;
    background-color: $white;

    li {
      margin: 0;
      list-style: none;
      font-size: $type-3;
      line-height: 1.5em;
      display: flex;
      flex-direction: column;

      &.active {
        font-weight: 700;
      }

      &:last-child {
        a {
          border-right: none;
        }
      }

      a,
      a:visited {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-self: center;
        align-items: center;
        padding: 11px 18px;
        border-right: 1px solid $gray-1;
      }

      a:hover,
      a:focus {
        background-color: $gray-0;
      }

      a:focus {
        outline: $globe;
        outline-style: solid;
        outline-width: 2px;
      }
    }
  }
}
