.exhibit-navigation {
  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin: 0;
      padding: 0 14.5px;
      list-style: none;
      font-size: $type-2;

      &:first-child {
        padding-left: 0;
      }

      &.active {
        font-weight: 700;
      }

      a,
      a:visited {
        display: block;
        height: 47px;
        justify-content: center;
        align-self: center;
        align-items: center;
      }

      a:hover,
      a:focus {
      }
    }
  }
}
