.exhibit-navigation {
  display: flex;
  justify-content: space-around;

  ul {
    background-color: #4e6475;

    li {
      &.active {
        a {
          background-color: darken(#4e6475, 5) !important;
        }
      }

      a,
      a:visited {
        color: $white;
        border-right: none;
      }

      a:hover,
      a:focus {
        color: $white;
        background-color: darken(#4e6475, 5);
      }
    }
  }
}
