section.exposition {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em; }
  section.exposition:last-child {
    margin-bottom: 0; }
  section.exposition .exposition-content {
    display: flex;
    flex-direction: column; }
    section.exposition .exposition-content > div {
      flex-shrink: 0;
      flex-grow: 0; }
  section.exposition.exposition-layout-column .exposition-content {
    display: flex;
    flex-direction: row; }
    section.exposition.exposition-layout-column .exposition-content > div {
      width: 50%; }

figure.exposition-teaser {
  margin: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column; }
  figure.exposition-teaser img {
    max-width: 100%; }
  figure.exposition-teaser ul {
    margin: 0;
    padding: 0; }
    figure.exposition-teaser ul li {
      list-style: none;
      padding: 0;
      text-transform: uppercase;
      font-size: 0.7222em; }
  figure.exposition-teaser figcaption {
    margin-top: 1em; }
    figure.exposition-teaser figcaption cite {
      font-weight: 700; }
    figure.exposition-teaser figcaption p {
      margin-top: 0.5em;
      font-size: 0.8333em;
      line-height: 1.35rem; }

.exposition-layout-default figure.exposition-teaser {
  flex-direction: row; }
  .exposition-layout-default figure.exposition-teaser .exposition-teaser--content {
    margin-left: 2em; }
  .exposition-layout-default figure.exposition-teaser figcaption {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
