figure.exposition-teaser {
  margin: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;

  img {
    max-width: 100%;
  }

  figcaption {
    margin-top: 1em;

    cite {
      font-weight: 700;
    }

    p {
      margin-top: 0.5em;
      font-size: 0.8333em;
      line-height: 1.35rem;
    }
  }
}

.exposition-layout-default figure.exposition-teaser  {
  flex-direction: row;

  figcaption {
    margin-left: 2em;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
