figure.exposition-teaser {
  padding: 2em;

  img {
    max-width: 100%;
  }

  figcaption {
    margin-top: 1em;

    cite {
      font-weight: 700;
    }

    p {
      margin-top: 0.5em;
      font-size: 0.8333em;
      line-height: 1.35rem;
    }
  }
}